

* {
  margin: 0;
  padding: 0;
  /*font-family: arial, sans-serif;*/
}

p, ul, li{
	font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6{
	font-family: 'Source Sans Pro', sans-serif;
}

header {
  background-color: #27B9C5;
	/*#63585E;*/
  padding: 10px;
  width: 100%;
  position: fixed;
  z-index: 1;
}
.logo-menu {
  float: left;
}

/*MENU*/
.menu {
  margin-right: 50px;
  float: right;
}
.menu ul {
  list-style: none;
  font-size: 20px;
}
.top-menu>li {
  display: inline-block;
	/*font-weight: bold;*/
}
.top-menu li a {
  color: #fff;
  text-decoration: none;
  padding: 12px 12px;
  display: block;
}
.top-menu li a:hover {
  background-color:#719194;
	/*#434343;*/
}
.top-menu li ul {
  display: none;
  position: absolute;
  padding: 0;
}
.top-menu li:hover>ul {
  display: block;
}
.top-menu li ul li {
  position: relative;
}
.menu-members li {
	background-color: #7C9FA2;
}

/*GENERAL*/
.section{
	margin-top: 60px;
}

/*PORTADA*/
.cover img{
    margin-top: 80px;
    width: 100%;
    height: auto;

}

/*BLOQUE description*/
.description {
    margin: 0 auto;
    text-align: center;
    width: 100%;
}
.max-width85{
	max-width: 85%;
	margin: 0 auto;

}
.block-1{
	font-size: 23px;
	font-weight: bold;
	margin-bottom: 30px;
}
.block-2{
	font-size: 20px;
	margin-bottom: 30px;
}
.block-3{
	font-size: 20px;
	margin-bottom: 30px;
}
.span-1{
	font: bold;
	text-decoration: underline;
	font-style: italic;
}
.block-4{
	clear: both;
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
	margin-top: 20px;
	font-size: 18px;
	/*padding: 0 90px;*/
	max-width: 70%;
}
.description ul{
	text-align: left;
	list-style-type: none;
}

.list-1 li:before, .list-2 li:before {
    content: "\f046"; /* Insert content that looks like bullets */
    padding-right: 8px;
    color: #27B9C5;
    font-family: "fontawesome";
}

.list-1{
	float:right;
	width: 45%;
}

.list-2{
	width: 48%;
}

.li-1, .li-2{
	padding: 10px ;
}

.block-5{
	clear: both;
	margin-top: 50px;
	font-size: 60px;
	font-weight: bold;
	background: #bcbdbd;
	color: white;
	padding: 20px 0;
}

#adalabers{
	font-family: 'Caveat Brush', cursive;
}


/*FORTALEZAS Y DEBILIDADES*/
.section-2{
	/*padding: 0 25%;*/
  margin:60px auto 0;
  width: 100%;
  max-width: 780px;
  box-sizing: border-box;
}
.inside{
	background-color: #E2EBF2;
	/*F5F8FA;*/
	/*e1e8ed*/
	/*#F8FCFC;*/
}
.forta-debil {
   position: relative;
  display: flex;
  flex-wrap: nowrap;
  padding: 0 30px;
  align-items: center;
}
.icon {
    border-right: 1px solid #7C9FA2;
    width: 220px;
    padding-right:30px;
    margin-right:20px;
    display: flex;
    align-items: center;
    flex-direction: column;

}
.icon img{
	height: 90px;
	width: 90px;
}
.text{
	position: relative;
	width: auto;
	padding: 60px 20px;
}
.icon h3{
	font-size: 24px;
}
.text ul{
	/*text-align: left;*/
	list-style-type: none;
}

.list-3, .list-4{
	font-size:18px;
}

.list-3 li,
.list-4 li{
  padding: 5px 20px;
}

.list-3 li:before{
    content: "\f0fe"; /* Insert content that looks like bullets */
    padding-right: 10px;
    color: #27B9C5;
    font-family: "fontawesome";
		}

.list-4 li:before{
    content: "\f146"; /* Insert content that looks like bullets */
    padding-right: 8px;
    color: #27B9C5;
    font-family: "fontawesome";
}


/*BLOQUE MIEMBROS PRUEBAAAAAAA*/

/* anchor = height of header. Only used to link each team member */
.anchor {
  position: relative;
  display: block;
  top:-70px;
}
.team {
  background: #E2EBF2;
  width: 100%;
}

.flex-container{
	display: flex;
	flex-wrap: nowrap;
	padding: 60px 0;
  max-width: 1200px;
  margin: 0 auto;
}

.right-member,
.left-member{
	margin: 0 30px;
	background: white;
	line-height: 30px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	border-radius: 4px;
}
.left-member{
	padding: 20px;
	width: 270px;
	text-align: center;
  display: flex;
  align-items: center;
}
.left-member img{
	display: inline-block;
}
.left-member p {
	text-align: center;
	margin-top: 20px;
}
.profession{
font-family: 'Caveat Brush', cursive;
font-size: 22px;
color:#393e3e;
}
.point{
font-family: 'Caveat Brush', cursive;
font-size: 22px;
margin: 0px 8px;
color:#393e3e;
}
.hobbies{
	font-family: 'Caveat Brush', cursive;
	font-size: 22px;
  color:#393e3e;
}
.right-member{
	padding: 15px;
	width: 70%;
}
.right-member h3{
	font-size: 27px;
}
.photo-and-icons{
    width: 25%;
    float: left;
    text-align: center;
		padding: 30px;
}
.photo-member{
    width: 100%;
    height: auto;
		filter: grayscale(100%);
		transition: 0.5s;
}
.photo-member:hover {
	filter: grayscale(0%);
		transition: 0.5s;
}
.line-break {
    width: 47%;
    border-top: 1px solid #56b9c5;
		margin: 7px 0 15px 0;

}
.paragraphs{
	margin-right: 90px;
	line-height: 25px;
	/*padding: 15px;*/
}
.role{
	margin-top:20px;
}
.role h4{
	font-size: 25px;
}
.role img{
	width: 35px;
	height: auto;
	padding-right:15px;
}
/*.role-photo{
	padding: 0 50px;
	float:right;
}*/
/*.role-photo img{
	width: 50px;
	height: auto;
}
.miembro{
	clear: both;
	padding-top: 65px;
}*/
.members-title{
	margin: 120px 0 50px;
}
.members-title h2{
	text-align: center;
	font-size: 57px;
}
.rss-icons{
	display: inline-block;
	width: 100%;
	margin: 0 auto;
	text-align: center;
	padding-top:20px;
}



/*BLOQUE CONTACTO*/
.section-contact {
  margin:0;
}

.contact{
	clear: both;
	text-align: center;
	background-image: url("../img/fondo.png");
}
.filter {
    background-color: rgba(255, 255, 255, 0.9);
    padding-bottom: 20px;
		padding: 80px 0;
}
.contact h2{
	  text-align: center;
		font-size: 57px;
		margin-bottom: 15px;
}
.email-contact{
	color:black;
	text-decoration: none;
	/*font-weight: bold;*/
}
.font-contact{
		font-family: 'Caveat Brush', cursive;
		font-size: 40px;
}


/*FOOTER*/
.row-footer{
	position: relative;
  display: flex;
  box-sizing: border-box;
	bottom: 0;
	background-color: #404646;
	color: white;
	width:100%;
	padding: 15px 0;
  flex-direction: row;
  justify-content: space-between;
}
.footer-left a img {
  width: 90px;
  height: auto;
}
.footer-left {
  position: relative;
  display: flex;
  align-items: center;
  margin-left: 30px;
}
.footer-center {
  position: relative;
  display: flex;
  align-items: center;

}
.footer-right {
  position: relative;
  display: flex;
  align-items: center;
  margin-right: 30px;

}
.footer-right a {
  text-decoration: none;
  color: white;
}

@media all and (max-width: 480px){
	header {
    background-color: #27B9C5;
    padding: 0;
    width: 100%;
    position: fixed;
    z-index: 1;
	}

	.logo-menu {
    float: left;
    width: 40px;
	}
	.menu {
    float: right;
		margin-right: 0;
	}

	.menu ul {
    list-style: none;
    font-size: 17px;
	}
	.top-menu li a {
    color: #fff;
    text-decoration: none;
    padding: 12px;
    display: block;
	}


	.block-1 {
    font-size: 21px;
    font-weight: bold;
    margin-bottom: 30px;
	}

	.block-2 {
    font-size: 18px;
    margin-bottom: 30px;
	}
	.block-3 {
	    font-size: 18px;
	    margin-bottom: 30px;
	}

	.block-4 {
    clear: both;
    display: flex;
    margin-top: 20px;
    font-size: 18px;
    flex-direction: column;
    width: 100%;
	}
	.list-1 {
    float: right;
    width: 100%;
	}
	.list-2 {
    width: 100%;
	}
	.block-5 {
    clear: both;
    margin-top: 50px;
    font-size: 41px;
    font-weight: bold;
    background: #bcbdbd;
    color: white;
    padding: 20px 0;
	}

	.section-2 {
    padding: 0 7%;
    margin: 60px auto 0;
    width: 100%;
    max-width: 780px;
    box-sizing: border-box;
}
.forta-debil {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	padding: 0 19px;
	align-items: center;

}
	.icon {
		border:none;
    border-bottom: 1px solid #7C9FA2;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 25px 0;
    align-items: center;
		margin-right: 0;
		}

.text {
    position: relative;
    width: auto;
    padding: 24px 0;
}
.members-title {
    margin: 77px 0 50px;
}
.members-title h2 {
    text-align: center;
    font-size: 50px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    padding: 40px 0 25px;
    margin: 0 auto;
    width: 100%;
}

.left-member {
    padding: 20px;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}
.left-member a>img {
    width: 32px;
    padding: 0 10px;
}
.right-member {
    padding: 15px;
    width: 100%;
}
.line-break {
    width: 100%;
    border-top: 1px solid #56b9c5;
    margin: 7px 0 15px 0;
}

.contact p {
    font-size: 16px;
}

.font-contact {
    font-family: 'Caveat Brush', cursive;
    font-size: 38px;
    line-height: 68px;
	}




.row-footer {
    position: relative;
    display: flex;
    box-sizing: border-box;
    bottom: 0;
    background-color: #404646;
    color: white;
    width: 100%;
    padding: 15px 0;
    flex-direction: column;

		}
.footer-left a img {
    width: 88px;
    height: auto;
}
.footer-left {
    margin: 0 auto;
    padding-bottom: 12px;
}

.footer-center {
    margin: 0 auto;
    padding-bottom: 12px;
}
.footer-right {
    padding-bottom: 4px;
    margin: 0 auto;

}




}
